@import "variables";

.contact-form {
  width: 90%;
  margin: 0 auto 30px;
  max-width: $max-width;
  .formbody .widget-text, .formbody .widget-textarea,
  .formbody .widget-calendar, .formbody .widget-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
    & > label {
      font: normal normal 400 20px/40px "Exo 2";
      background: #00aee5;
      color: white;
      align-self: center;
      padding: 0 7px;
    }
    & > input, & > textarea, & > select {
      display: inline-block;
      width: 60%;
      background: white;
      border: none;
      margin: 10px 0;
      padding: 10px 10px;
      border-bottom: 1px solid $rosa;
      outline: 0;
      font-size: 20px;
      box-sizing: border-box;
      transition: border 250ms;
      &:hover {
        border-bottom: 1px solid $blue;
        /*background: $blue;*/
      }
    }
    & > textarea {
      resize: none;
    }
  }
}

fieldset {
  border: none;
  padding: 0;
}

#event-form.contact-form .formbody .widget-text, #event-form.contact-form .formbody .widget-textarea {
   input, textarea {
     border: 1px solid $rosa;
   }
}

#event-form.contact-form .formbody .widget-text.widget-calendar, {
  #ctrl_30_wrapper, #ctrl_22_wrapper {
    border: 1px solid #cc007b;
    display: inline-block;
    width: 60%;
    background: white;
    margin: 10px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    input{
     border: 0;
      width: 95%;
      outline: 0;
    }
  }
}

#event-form {
  margin: 20px auto;
}

#event-form.contact-form .formbody .widget-select select {
  border: 1px solid #cc007b;
}


.contact-form .widget-checkbox, .contact-form  .widget-radio{
  margin: 20px 0;
  fieldset {
    span {
      input {
        display: none;
      }
      label {
        position: relative;
        width: 59%;
        padding-left: 35px;
        cursor: pointer;
        font: normal normal 300 16px/20px "Exo 2";
        float: right;
        a {
          color: $darkblue;
          text-transform: initial;
          transition: color 250ms;
          &:hover {
            color: $blue;
          }
        }
        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: white;
          font-size: 20px;
          text-align: center;
          border: 1px solid $rosa;
        }
      }
    }
  }
}

.contact-form.ce_form .widget-checkbox fieldset span input:checked ~ label::before,
.contact-form.ce_form .widget-radio fieldset .title .span span input:checked ~ label::before {
  background: $rosa;
}

.widget.widget-submit {
  width: 63%;
  float: right;
  margin: 20px auto;
  .submit {
    text-transform: uppercase;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  legend {
    font: normal normal 400 20px/40px "Exo 2";
    background: #00aee5;
    color: white;
    align-self: center;
    padding: 0 7px;
  }
  .span {
    width: 64%;
    display: inline-flex;
    justify-content: space-between;
    font: normal normal 300 16px/20px "Exo 2";
    span {
      width: 20%;
      label{
        &:before {
          border-radius: 50%;
        }
      }
    }
  }
}

.mod_login form , .mod_registration, .mod_lostPassword {
  text-align: left;
  .formbody .widget {
    label {
      text-transform: uppercase;
      font-size: 15px;
      width: 100%;
      display: block;
      margin: 5px 0;
    }
    input {
      box-sizing: border-box;
      padding: 10px 12px;
      font-size: 15px;
      margin: 5px 0;
      outline: none;
      width: 100%;
      border: 2px solid $rosa;
    }
  }
}



@media screen and (max-width: 860px) {
  .contact-form {
   /* width: 100%;*/
    margin: 0 auto;
    .formbody .widget-text, .formbody .widget-textarea,  {
      & > input, & > textarea {
        width: 100%;
      }
    }
    .title .span {
      width: 100%;
      margin: 15px auto;
      flex-wrap: wrap;
      span {
        width: 100%;
        display: inherit;
        margin: 7px auto;
      }
    }
    .widget-checkbox fieldset span label {
      width: 88%;
    }
    .widget.widget-submit {
      width: 100%;
    }
  }
  #event-form.contact-form .formbody .widget-text.widget-calendar #ctrl_30_wrapper,
  #event-form.contact-form .formbody .widget-text.widget-calendar #ctrl_22_wrapper,
  #event-form.contact-form .formbody .widget-select select{
    width: 100%;
    input {
      width: 90%;
    }
  }
  #event-form {
    width: 100%;
  }

  .widget.widget-captcha.mandatory {
    display: none;
  }
}

