@import "variables";

.banner-image {
  position: relative;
  z-index: 1;
  .header-banner {
    width: 100%;
    margin: 0;
    img {
      width: 100%;
      height: 35vh;
      object-fit: cover;
      object-position: 100% 0;
    }
    &.small {
      img {
        height: 30vh;

      }
    }
  }
}

.news, .partners, .members-block {
  position: relative;
  background: url("/files/inhalte/bilder/titelbilder/news-bg.jpg") no-repeat 0/cover;
  margin-top: -3px;
  z-index: 5;
}

.teaser-content {
  margin: 100px auto;
  text-align: center;
  h2{
    color: white;
    background: #1c388f;
    display: inline;
    font: normal normal 600 22px/45px "Exo 2";
    padding: 4px 10px;
    box-decoration-break: clone;
    text-transform: uppercase;
  }
  h3 {
    .h3-span { background: $blue;
      font: normal normal 400 20px/36px "Exo 2";
      padding: 4px 8px;
      color: white;
    }
  }
  p {
    font: normal normal 300 20px/28px "Exo 2";
    text-align: left;
  }
}

.btn {
  text-align: center;
}

.btn a, .submit, .news-all .more a,
.mod_newsreader .back a, .mod_eventreader .back a,
.mod_eventreader .layout_full .ce_download p a,
.mod_article .ce_download p a,
.project .mod_newslist .project-block p a,
.project .mod_eventlist .project-block p a,
.network a {
  border: 2px solid $rosa;
  padding: 10px 40px 10px 70px;
  color: $rosa;
  display: inline-block;
  font: normal normal 400 20px/24px "Exo 2";
  position: relative;
  background: transparent;
  outline: 0;
  text-align: center;
  transition: background-color 250ms, color 250ms;
  &:before {
    content: "";
    position: absolute;
    left: 37px;
    top: 13px;
    width: 24px;
    height: 24px;
    background: url("/files/assets/layout/Pfeil-right.svg") no-repeat;
  }
  &:hover {
    background: $rosa;
    color: white;
    border: 2px solid transparent;
  }
  &:hover:before {
    background: url("/files/assets/layout/Pfeil-right-white.svg") no-repeat;
  }
}

.partners {
  background: url("/files/inhalte/bilder/Partner-bg.webp") no-repeat 0/cover;
  .teaser-content.partner {
    margin-bottom: 20px
  }
}

.btn.partner > p > a {
  color: white;
  border-color: white;
  &:before {
    background: url("/files/assets/layout/Pfeil-right-white.svg") no-repeat;
  }
}

.sponsors {
  margin: 60px auto;
  .ce_image.sponsor {
    width: 24%;
  }
}

.networking {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
  .ce_text.image-bottom.block {
    border-right: 1px solid $rosa;
    padding-right: 10px;
    margin-right: 15px;
    p {
      text-transform: uppercase;
      font: normal normal 500 24px/26px "Exo 2";
    }
    img {
      width: 100px;
    }
    &.image {
      img {
        width: 140px;
      }
    }
  }
}

.contact {
  background: rgba(84,84,84,0.3);
}

.block-news, .privacy, .project {
  text-align: center;
  margin: 40px auto;
  .ce_headline {
    background: #1c388f;
    font: normal normal 600 22px/40px "Exo 2";
    text-transform: uppercase;
    padding: 4px 25px;
    display: inline-block;
    color: white;
  }
}

.news-all {
  text-align: left;
  .news-block {
    margin-bottom: 40px;
    .layout_latest, .event.layout_teaser {
      color: white;
      background: linear-gradient(90deg, rgba(84,84,84,0.6) 100%, rgba(28,28,28,0.3) 20%);
      margin: 10px auto;
      padding: 15px 20px;
      h2 {
        font: normal normal 600 22px/30px "Exo 2";
        a {
          color: white;
          transition: color 250ms;
          &:hover {
            color: $darkblue;
          }
        }
      }
      p {
        font: normal normal 400 20px/26px "Exo 2";
      }
    }
  }
}

.mod_newsreader .layout_full, .mod_eventreader .layout_full,
 .privacy, .members-bottom {
  h3 {
    text-transform: uppercase;
  }
  ul {
    li {
      font: normal normal 400 20px/26px "Exo 2";
      margin-left: 35px;
      color: $grau;
      &:before {
        color: $darkblue;
        content: "»";
        position: absolute;
        margin-left: -20px;
        font-size: 25px;
        margin-top: -3px;
        font-weight: 400;
      }
    }
  }
}

.mod_newsreader, .mod_eventreader {
  margin: 30px auto;
  .layout_full {
    h2 {
      font: normal normal 600 22px/30px "Exo 2";
      color: $darkblue;
      text-transform: uppercase;
    }
    p {
      font: normal normal 400 20px/26px "Exo 2";
      color: $grau;
      a {
        color: black;
        text-transform: initial;
        transition: color 250ms;
        &:hover {
          color: $blue;
        }
      }
    }
    ul {
      margin-bottom: 15px;
    }
    .ce_image, .image_container {
      img {
        width: 100%;
      }
    }
  }
  p.back {
    a {
      padding: 10px 25px 10px 50px;
      &:before {
        background: url("/files/assets/layout/Arrow_left_rosa.svg") no-repeat;
        background-size: 45px;
        left: 5px;
        top: 1px;
        height: 40px;
        width: 40px;
      }
      &:hover:before {
        background: url("/files/assets/layout/Pfeil_left_white..svg") no-repeat 0/cover;
        top: 3px;
      }
    }
  }
}

.mod_eventreader .layout_full .ce_download,
.mod_article .ce_download {
  h3, h2 {
    padding: 10px 10px;
    color: white;
    display: inline-block;
    font: normal normal 400 20px/24px "Exo 2";
    position: relative;
    background: rgb(183,183,183);
    outline: 0;
    width: 100%;
    text-align: center;
  }
  p {
    margin-top: -15px;
    a {
      padding: 10px 30px;
      text-transform: uppercase;
      display: block;
      text-align: left;
      &:before {
        background: url("/files/assets/layout/Pfeil-down.svg") no-repeat;
        left: 7px;
        top: 14px;
        width: 17px;
        height: 17px;
      }
      &:hover:before {
        background: url("/files/assets/layout/Pfeil_down_white.svg") no-repeat;
      }
    }
  }
}



.privacy, .project {
  h2 {
    background: #1c388f;
    font: normal normal 600 22px/36px "Exo 2";
    text-transform: uppercase;
    padding: 4px 25px;
    display: inline-block;
    color: white;
  }
  h3, p, ul {
    text-align: left;
    color: #545454;
    font: normal normal 600 22px/26px "Exo 2";
  }
  p {
    font: normal normal 400 20px/26px "Exo 2";
    a {
      color: $darkblue;
      text-transform: initial;
      transition: color 50ms;
      &:hover {
        color: $blue;
      }
    }
  }
}

.project {
  .ce_image {
    img {
      width: 100%;
    }
  }
  .mod_newslist, .mod_eventlist {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .project-block {
      width: 49%;
      margin: 4px 0 ;
      .layout_short,  .event.layout_teaser {
        background: linear-gradient(90deg, rgba(84, 84, 84, 0.6) 100%, rgba(28, 28, 28, 0.3) 20%);
        height: 575px;
        .image_container {
          img {
            width: 100%;
            height: 335px;
            object-fit: cover;
            object-position: 0 0;
          }
        }
        .project-teaser {
          padding: 0 15px;
          h2 {
            background: none;
            text-align: left;
            display: block;
            padding: 0;
            a {
              color: white;
              transition: color 250ms;
              &:hover {
                color: $darkblue;
              }
            }
          }
          p {
            color: white;
          }
        }
      }
    }
  }
}

#news-block.project .mod_newslist .project-block .layout_short {
  height: 850px;
}

#project.project .mod_eventlist .project-block .event.layout_teaser {
  height: 800px;
}

#project.mobile-only {
  display: none;
}


.project-teaser p.time {
  padding: 10px 0;
}

#work-group.project .mod_newslist .project-block .layout_short {
  height: auto;
}

.ce_youtube.block {
  iframe {
    width: 100%;
    margin: 30px auto;
    height: 50vh;
  }
}

.text-image {
  padding-bottom: 30px;
  margin: 50px auto 30px;
  .block-left {
    width: 30%;
    margin-top: 21px;
  }
  .block-right {
    width: 66%;
    text-align: left;
    h3 {
      background: #1c388f;
      font: normal normal 600 22px/36px "Exo 2";
      text-transform: uppercase;
      padding: 0 10px;
      display: inline-block;
      color: white;
      text-align: left;
    }
  }
  &:not(:last-child) {
    border-bottom: 1px solid $grau;
  }
}

.network-block {
  margin: 0 auto 50px;
  .network {
    width: 49%;
    margin: 10px 0;
    .network-bg {
      background: linear-gradient(90deg, rgba(84, 84, 84, 0.6) 100%, rgba(28, 28, 28, 0.3) 20%);
      color: white;
      padding: 15px 20px;
      height: 300px;
      margin: 10px 0;
      h2 {
        font: normal normal 600 22px/30px "Exo 2";
      }
      p {
        font: normal normal 400 20px/26px "Exo 2";
      }
    }
    a {
      display: block;
    }
  }
}

.download-contain, .network-block, .text-image,
.sponsors  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.download-block {
  width: 48%;
}

.privacy .ce_hyperlink{
  text-align: left;
  a {
    color: $darkblue;
    transition: color 250ms;
  }
  &:hover {
    color: $blue;
  }
}

.project .mod_newslist .project-block p a,
.project .mod_eventlist .project-block p a {
  text-align: center;
  display: block;
  text-transform: uppercase;
  &:before {
    content: "";
    position: absolute;
    left: 145px;
    top: 13px;
    width: 24px;
    height: 24px;
    background: url("/files/assets/layout/Pfeil-right.svg") no-repeat;
  }
}

.membership {
  p {
    a {
      color: $rosa;
      border: 2px solid $rosa;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: background-color 250ms, color 250ms;
      &:hover {
        background-color: $rosa;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .teaser-content {
    margin: 30px auto;
    h2, h3 {
      /*text-align: left;*/
      .h2-span {
        font: normal normal 600 19px/35px"Exo 2";
      }
    }
  }

  .sponsors {
    margin: 30px auto;
    .ce_image.sponsor {
      width: 48%;
      margin: 5px 0;
    }
  }

  .networking {
    justify-content: space-between;
    .ce_text.image-bottom.block {
      border-right: 0;
      padding-right: 0;
      width: 49%;
      margin: 5px 0;

      p {
        font: normal normal 500 20px/26px "Exo 2";
      }
    }
  }

  .block-news, .privacy, .project {
    margin: 20px auto;
  }

  .project .mod_newslist, .project .mod_eventlist {
    .project-block {
      width: 100%;
      margin: 10px 0;
      p a {
        &:before {
          left: 65px;
        }
      }
    }
  }

  .network-block .network {
    width: 100%;
  }

  .privacy, .project {
    h2, h2.ce_headline {
      display: inline;
      padding: 4px 10px;
      box-decoration-break: clone;
    }
  }

  .text-image .block-left, .text-image .block-right, .download-block {
    width: 100%;
  }

  .mod_article .ce_download h2, .mod_article .ce_download h3 {
    padding: 10px 0;
   /* font: normal normal 400 15px/19px "Exo 2";*/
  }

  #news-block.project .mod_newslist .project-block .layout_short {
    height: auto;
  }

  #project.project .mod_eventlist .project-block .event.layout_teaser {
    height: auto;
  }
  .project .mod_newslist .project-block .layout_short,
  .project .mod_newslist .project-block .event.layout_teaser,
  .project .mod_eventlist .project-block .layout_short,
  .project .mod_eventlist .project-block .event.layout_teaser {
    height: auto;
  }

  #project.mobile-only {
    display: block;
  }

  #project.desktop-only {
    display: none;
  }

  .networking .ce_text.image-bottom.block img {
    display: flex;
  }
}





