@import "variables";

.members-block {
  background: url("/files/inhalte/bilder/Brick-1-bl.webp") no-repeat 0/cover;
  z-index: 100;
}

.members-block .members-contain, .members-project {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
}

.members-project {
  width: 100%;
  padding: 0;
}

.ce_rsce_my_member  {
  width: 19.5%;
  position: relative;
  display: block;
  margin: 2px auto;
}

.members {
  .members-top {
    cursor: pointer;
  }
  .members-bottom {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    padding: 20px 15px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #aaa;
    z-index: 200;
    overflow: scroll;
    height: 45%;
    p {
      color: $grau;
      font: normal normal 400 20px/26px "Exo 2";
      a {
        color: $darkblue;
        transition: color 250ms;
        text-transform: initial;
        &:hover {
          color: $blue;
        }
      }
    }
    .popup-close {
      font-size: 40px;
      cursor: pointer;
      font-weight: bold;
      color: #cc007b;
      position: absolute;
      right: 17px;
      top: 12px;
      line-height: 0.5em;
      background: white;
      z-index: 102;
    }
    img {
      width: 200px;
    }
  }
}

.member-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.filter {
  margin: 20px auto;
  font: normal normal 400 20px/26px "Exo 2";
  color: $darkblue;
  #event-radio-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    .radio-option {
      label {
        cursor: pointer;
      }
      input {
        display: none;
      }
      span {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        cursor: pointer;
        border: 3px solid $darkblue;
        border-radius: 50%;
        outline: none;
        background: transparent;
        display: inline-block;
      }
      input:checked + span {
        background: $blue;
      }
    }
  }
  .radio-option.kill-filter {
    cursor: pointer;
    /*color: #cecece;*/
  }
}

.category {
  position: absolute;
}

#map {
  height: 75vh;
  width: 100%;
  margin-bottom: 50px;
  z-index: 50;
}

#container .leaflet-popup-content {
  font: normal normal 400 18px/24px "Exo 2";
  b {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 860px) {
  .ce_rsce_my_member{
    width: 49%;
    margin: 0 auto;
  }
  .filter #event-radio-form {
    display: block;
  }
  .members .members-bottom {
    width: 95%;
    height: 80%;
  }
}
