@import "variables";

.ce_sliderStart {
  position: relative;
  margin: 30px auto;
  .content-slider {
    img {
      width: 100%;
    }
  }
  .slider-control {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
    .slider-menu {
      display: none;
    }
    .slider-prev, .slider-next {
      transition: filter  250ms;
      img {
        width: 60px;
        box-shadow: 0 0 10px #00000096;
        border-radius: 50%;
        background: rgba(0,0,0,.1);
      }
      &:hover {
        /*filter: grayscale(1.3);*/
        /*filter: invert(1)sepia(44%) saturate(1455%) hue-rotate(291deg);*/
        filter: brightness(0) saturate(100%) invert(32%) sepia(44%) saturate(1867%) hue-rotate(291deg) brightness(89%);
      }
    }
    .slider-prev {
      left: 3%;
    }
    .slider-next {
      right: 3%;
    }
  }
}

@media screen and (max-width: 860px) {
  .ce_sliderStart .slider-control  {
    transform: translateY(-100%);
    .slider-prev, .slider-next {
      img {
        width: 45px;
      }
    }
  }
}